body {
    color: #333;
    padding: 3em;
    font-size: 0.85em;
}

.asap-table td {
    height: 60px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.fadeout {
    animation: fadeout 1s;
}
.fadein {
    animation: fadein 1s;
}


/* item list formatting */
.asapp-row { border-bottom: 1px solid #dadada; }
.asapp-item .asapp-row:hover { background: #f4f4f4; }
.asapp-td { box-sizing: border-box; min-height: 4em; padding: 0.5em 1em; }
.asapp-ad { text-align: center; }
.asapp-header { background: lightgrey; font-weight: bold; margin-bottom: 1em; }
.asapp-header .asapp-td { border: none; min-height: auto; }
.asapp-header .asapp-td[ng-click] { cursor: pointer; color: darkcyan; }


/* Spinner positioning */
.loader {
    position: fixed;
    width: 3em;
    text-align: center;
    bottom: 0.5em;
    left: 50%;
    margin-left: -1.5em;
}

/*
Spinner by Tobias Ahlin
http://tobiasahlin.com/spinkit/
*/
.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;

    margin: 0px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}